<!DOCTYPE html>
<html>
    <% include ../partials/head %>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="container">
                <h1>Error</h1>
                <p>Something bad happened...</p>
            </div>
        </main>
        <footer class="bg-light">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>